.signup {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 10vh);
}
.signupBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  padding: 3rem;
  border: 1px solid lightgrey;



  .title {
    width: 100%;
    h4 {
      font-weight: 400;
      width: inherit;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .submit {
    align-self: flex-end;
  }

  .errorMessage {
    display: flex;
    height: 10px;
    justify-content: left;
    align-items: center;
    width: 100%;

    p {
      display: contents;
      color: red;
      font-size: small;
    }
  }
}
